In [1]:
import pandas as pd
# Load the dataset
file_path = r"C:\Users\vange\Desktop\github project 2\Sleep_health_and_lifestyle_dataset.csv"
df = pd.read_csv(file_path)

# Display the first few rows
df.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,None
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,None
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,None
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Person ID                374 non-null    int64
 1   Gender                   374 non-null    object
 2   Age                      374 non-null    int64
 3   Occupation               374 non-null    object
 4   Sleep Duration           374 non-null    float64
 5   Quality of Sleep         374 non-null    int64
 6   Physical Activity Level  374 non-null    int64
 7   Stress Level             374 non-null    int64
 8   BMI Category             374 non-null    object
 9   Blood Pressure           374 non-null    object
 10  Heart Rate               374 non-null    int64
 11  Daily Steps              374 non-null    int64
 12  Sleep Disorder           374 non-null    object
dtypes: float64(1), int64(7), object(5)
memory usage: 38.1+ KB

In [15]:
# Ensure 'Quality of Sleep' does not exceed 'Sleep Duration'
df['Effective Sleep'] = df[['Quality of Sleep', 'Sleep Duration']].min(axis=1)

# Calculate Sleep Efficiency as (Effective Sleep / Sleep Duration) * 100
df['Sleep Efficiency (%)'] = (df['Effective Sleep'] / df['Sleep Duration']) * 100

# Drop the temporary 'Effective Sleep' column (optional)
df.drop(columns=['Effective Sleep'], inplace=True)

# Display the first few rows to confirm
print(df.head())

# Check for any efficiency values greater than 100% (should be none now)
assert (df['Sleep Efficiency (%)'] <= 100).all(), "There are still values above 100%!"

print("Sleep Efficiency KPI successfully calculated.")

   Person ID Gender  Age            Occupation  Sleep Duration  \
0          1   Male   27     Software Engineer             6.1
1          2   Male   28                Doctor             6.2
2          3   Male   28                Doctor             6.2
3          4   Male   28  Sales Representative             5.9
4          5   Male   28  Sales Representative             5.9

   Quality of Sleep  Physical Activity Level  Stress Level BMI Category  \
0                 6                       42             6   Overweight
1                 6                       60             8       Normal
2                 6                       60             8       Normal
3                 4                       30             8        Obese
4                 4                       30             8        Obese

  Blood Pressure  Heart Rate  Daily Steps Sleep Disorder  Systolic  Diastolic  \
0         126/83          77         4200           None       126         83
1         125/80          75        10000           None       125         80
2         125/80          75        10000           None       125         80
3         140/90          85         3000    Sleep Apnea       140         90
4         140/90          85         3000    Sleep Apnea       140         90

   Systolic Blood Pressure  Diastolic Blood Pressure Activity Level  \
0                      126                        83   Low Activity
1                      125                        80  High Activity
2                      125                        80  High Activity
3                      140                        90   Low Activity
4                      140                        90   Low Activity

   Sleep Efficiency (%)
0             98.360656
1             96.774194
2             96.774194
3             67.796610
4             67.796610
Sleep Efficiency KPI successfully calculated.

In [16]:
df.tail()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder,Systolic,Diastolic,Systolic Blood Pressure,Diastolic Blood Pressure,Activity Level,Sleep Efficiency (%)
369,370,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,140,95,140,95,Moderate Activity,100.0
370,371,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,140,95,140,95,Moderate Activity,100.0
371,372,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,140,95,140,95,Moderate Activity,100.0
372,373,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,140,95,140,95,Moderate Activity,100.0
373,374,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,140,95,140,95,Moderate Activity,100.0

In [20]:
# Define a function to classify blood pressure
def classify_blood_pressure(row):
    if row['Systolic Blood Pressure'] < 90 or row['Diastolic Blood Pressure'] < 60:
        return 'Hypotensive'  # Low Blood Pressure
    else:
        return 'Normal/Hypertensive'  # Normal or High Blood Pressure

# Apply the function to create a new column
df['Blood Pressure Classification'] = df.apply(classify_blood_pressure, axis=1)

# Display the first few rows to confirm
df.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder,Systolic,Diastolic,Systolic Blood Pressure,Diastolic Blood Pressure,Activity Level,Sleep Efficiency (%),Blood Pressure Classification
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,None,126,83,126,83,Low Activity,98.360656,Normal/Hypertensive
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,None,125,80,125,80,High Activity,96.774194,Normal/Hypertensive
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,None,125,80,125,80,High Activity,96.774194,Normal/Hypertensive
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea,140,90,140,90,Low Activity,67.796610,Normal/Hypertensive
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea,140,90,140,90,Low Activity,67.796610,Normal/Hypertensive